.footer{
    background-color: #333333;
    width: 100%;
    display: flex;
    justify-content: space-around;

    &__contenedor{
        //background-color: red;
        color: white;
        height: 100%;
        width: 20%;
    }
}

//font-weight: bold; --> negrita