.header {
  background-color: #333333;
  color: white;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__contenedorLogo {
    width: 10%;
    text-align: center;

    &--imgLogo{
      width: 70%;
    }
  }

  &__contenedorBuscador {
    display: flex;
    align-items: center;
    justify-content: center;

    &--filtro {
      color: black;

        &-boton{
            background-color: white;
            padding: 0.4rem 1rem;
            border: none;
            border-right: 1px solid lightgray;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        position: relative;

        ul {
          display: none;
          position: absolute;
        }

        li {
          background-color: white;
          padding: 0.3rem 0.5rem;
          margin-top: 1rem;
        }
      }

      li:hover > ul {
        display: flex;
      }
    }

    &--buscador {
      width: 12rem;
      padding: 0.4rem 2rem;
      border: none;
      //border-radius: 10px;
      transition: all 0.5s;
    }

    &--buscador:focus {
      width: 18rem;
      transition: all 0.5s;
      outline: none;
    }

    &--boton {
      background-color: red;
      color: white;
      padding: 0.4rem 1rem;
      border: none;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &__contenedorLinks {
    width: 20%;
    //width: 30%;

    ul{
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;

      li{
        // transition: all 1s;
        padding: 0.3rem;
        position: relative;
      }

      // li:hover{
      //   transform: translateY(-5px);
      // }

      a{
        color: white;
        text-decoration: none;
      }

      a:after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        // background-color: #0087ca;
        background-color: red;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      a:hover:after{
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}