.contenedorLista{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorListaItems{
    width: 75%;
    margin-top: 5rem;

    &--ul{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &--li{
        width: 15rem;
        height: 15rem;
    }
}

.contenedorItem{
    border: 1px solid black;
    width: 100%;
    height: 80%;

    &--title{
        font-size: 1.2em;
    }

    &--img{

    }

    &--info{

    }

    &--price{
        background-color: orangered;
        text-align: center;
        //z-index: 5;
        width: 2rem;
    }
}