.contenedorMenuLateral{
    background-color: lightgreen;
    width: 20%;
    height: 85vh;
    transition: all 0.5s;
}

.visible{
    transition: all 0.5s;
}

.oculto{
    transition: all 0.5s;
    transform: translateX(-100%);
    position: absolute;
}