.contenedorMenu {
  ul {
    list-style: none;
    display: flex;
  }

  li {
    margin: 0 1rem;
    //transform: translateY(-0.5px);
    position: relative;
  }

  a{
    color: black;
    transition: all 0.3s;
    text-decoration: none;
  }

  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
