.contenedorSlider{
    width: 75%;
    //height: 15rem;

    &--title{
        font-size: 2em;
    }

    &--ul{
        padding: 0;
        list-style: none;
        display: flex;
    }

    &--li{
        width: 10rem;
        margin-right: 1rem;
        height: 100%;
    }
}

.contenedorItemSlider{
    border: 1px solid black;

    &--title{
        font-size: 1em;
    }

    &--img{

    }

    &--price{
        background-color: orangered;
        text-align: center;
        //z-index: 5;
        width: 2rem;
        //align-items: flex-end;
    }
}