body{
    padding: 0;
    margin: 0;
}

.header{
    background-color: orangered;
    height: 100vh;
    display: flex;
    align-items: center;

    &__contenedorTitulo{
        margin-left: 10%;

        h1{
            color: white;
            height: 3.5rem;
            font-size: 5em;
        }
        
        h2{
            font-size: 1.25em;
            margin-top: 7rem;
        }
    }
}

.seccionInfo{
    height: 70vh;
    background-color: lightgray;
}

.seccionProductos{

    h2{
        text-align: center;
        font-size: 3em;
        margin-bottom: 10rem;
    }

    &__contenedorIzq{
        display: flex;
        height: 70vh;

        &__contenedorTexto{
            position: absolute;
            right: 30%;
            margin-top: 5rem;

            h3{
                font-size: 2.25em;
            }

            p{
                font-size: 1.20em;
            }
        }

        img{
            width: 26rem;
            margin-left: 5%;
        }
    }

    &__contenedorDer{
        display: flex;
        height: 70vh;

        &__contenedorTexto{
            position: absolute;
            left: 30%;
            margin-top: 5rem;

            h3{
                font-size: 2.25em;
            }

            p{
                font-size: 1.20em;
            }
        }
        
        img{
            width: 29rem;
            position: absolute;
            right: 5%;
        }
    }
}

.footer{
    background-color: black;
    height: 70vh;
}