@import './styles/Header.scss';
@import './styles/Menu.scss';
@import './styles/MenuLateral.scss';
@import './styles/Slider.scss';
@import './styles/Lista.scss';
@import './styles/Footer.scss';

body{
    margin: 0;
    padding: 0;
}

.seccionPrincipal{
    display: flex;
}